@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  @apply text-gray-800;
}


/* Override the dark background and text color if needed */
.markdown-editor {
  background-color: #ffffff !important; /* Light background */
  color: #000000 !important; /* Dark text */
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
